.main-chat
  .main-chat__header
    .main-chat__header__left-box
      %h2.main-chat__header__left-box__current-group
        = @group.name
      %ul.main-chat__header__left-box__member-list
        Member : 
        %li.main-chat__header__left-box__member-list__member
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
        %li.main-chat__header__left-box__member-list__member
          
    .main-chat__header__edit
      %h2.main-chat__header__left-box__current-group
        = link_to "Edit", edit_group_path(@group) , class: "main-chat__header__left-box"
  .main-chat__list
    .main-chat__list__text
      = render @messages
      .main-chat__list__text__text2
        
    .tmain-chat__list__ext3
      
  .main_chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .main_chat__from__new_message__input-box__image
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'