.side_bar
  .side_bar_list
    .side_bar_list_top_items
      = current_user.name
      %p.side_bar_list_top_items_name
        hachino
      .side_bar_list_top_items_icon
        %p.side_bar_list_top_items_icon_user
          = link_to new_group_path do
            = icon('fas', 'edit')
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .side_bar_groupe
    %p.side_bar_groupe_name
      techcamp
    %p.side_bar_groupe_list
      まだメッセージがありません